.carousel-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.images-container {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.image-wrapper {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}

.image-wrapper img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
}

.carousel-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.prev {
  position: absolute;
  left: -150px;
  top: 45%;
  z-index: 1;
  transform: translateY(-50%);
}

.next {
  z-index: 1;
  position: absolute;
  right: -150px;
  top: 45%;
  transform: translateY(-50%);
}

.no-images-message {
  font-size: 24px;
  color: red;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.image-number {
  font-size: 18px;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}