* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  position: relative;
  width: 300px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
}

.suggestionsContainer {
  position: absolute;
  top: 50px;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestionsContainer li {
  padding: 10px;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: bold;
}

.suggestionsContainer li:hover {
  background-color: #f0f0f0;
}

.suggestionsContainer li.active {
  background-color: #007BFF;
  color: white;
}