body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btnStart,
.btnNext {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scores {
  text-align: center;
  border: 5px solid black;
  border-radius: 6px;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
}

.quizContent {
  display: none;
}

.question {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid black;
  padding: 1rem 1.5rem;
  border-radius: 5px;
}

.options {
  margin-bottom: 20px;
  display: flex;
  gap: 2rem;
}

.options p {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.options p:hover {
  background-color: #f0f0f0;
}

.btnNext {
  display: flex;
  margin: auto;
}